<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Installtemplate>
            <version>1.0.0</version>
        </Magentothem_Installtemplate>
    </modules>
    <frontend>
        <routers>
            <installtemplate>
                <use>standard</use>
                <args>
                    <module>Magentothem_Installtemplate</module>
                    <frontName>installtemplate</frontName>
                </args>
            </installtemplate>
        </routers>
        <layout>
            <updates>
                <installtemplate>
                    <file>installtemplate.xml</file>
                </installtemplate>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <installtemplate>
                <use>admin</use>
                <args>
                    <module>Magentothem_Installtemplate</module>
                    <frontName>installtemplate</frontName>
                </args>
            </installtemplate>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magentothem module="installtemplate">
                <title>Installtemplate</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="installtemplate">
                        <title>Install Template</title>
                        <sort_order>0</sort_order>
                        <action>installtemplate/adminhtml_installtemplate</action>
                    </items>
                </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Magentothem_Installtemplate>
                            <title>Installtemplate Module</title>
                            <sort_order>10</sort_order>
                        </Magentothem_Installtemplate>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <installtemplate>
                    <file>installtemplate.xml</file>
                </installtemplate>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <installtemplate>
                <class>Magentothem_Installtemplate_Model</class>
                <resourceModel>installtemplate_mysql4</resourceModel>
            </installtemplate>
        </models>
        <blocks>
            <installtemplate>
                <class>Magentothem_Installtemplate_Block</class>
            </installtemplate>
        </blocks>
        <helpers>
            <installtemplate>
                <class>Magentothem_Installtemplate_Helper</class>
            </installtemplate>
        </helpers>
    </global>
</config>