<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Vmegamenu>
            <version>0.1.0</version>
        </Magentothem_Vmegamenu>
    </modules>
    <frontend>
        <routers>
            <vmegamenu>
                <use>standard</use>
                <args>
                    <module>Magentothem_Vmegamenu</module>
                    <frontName>vmegamenu</frontName>
                </args>
            </vmegamenu>
        </routers>
        <layout>
            <updates>
                <vmegamenu>
                    <file>vmegamenu.xml</file>
                </vmegamenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <vmegamenu>
                <use>admin</use>
                <args>
                    <module>Magentothem_Vmegamenu</module>
                    <frontName>vmegamenu</frontName>
                </args>
            </vmegamenu>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magentothem module="vmegamenu">
                <title>Magentothem</title>
                <sort_order>80</sort_order>               
<!--                <children>
                    <items module="vmegamenu">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>vmegamenu/adminhtml_vmegamenu</action>
                    </items>
                </children>-->
                <children>
                    <vmegamenu translate="title" module="vmegamenu">
                        <title>Vmegamenu</title>
                        <sort_order>2</sort_order>
                        <children>
<!--                            <items module="vmegamenu">
                                <title>Manage Items</title>
                                <sort_order>0</sort_order>
                                <action>vmegamenu/adminhtml_vmegamenu</action>
                            </items>-->
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/vmegamenu</action>
                            </configuration>
                        </children>
                    </vmegamenu>
               </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Magentothem_Vmegamenu>
                            <title>Vmegamenu Module</title>
                            <sort_order>10</sort_order>
                        </Magentothem_Vmegamenu>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <vmegamenu>
                    <file>vmegamenu.xml</file>
                </vmegamenu>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <vmegamenu>
                <class>Magentothem_Vmegamenu_Model</class>
                <resourceModel>vmegamenu_mysql4</resourceModel>
            </vmegamenu>
            <vmegamenu_adminhtml>
                <class>Magentothem_Vmegamenu_Adminhtml_Model</class>
            </vmegamenu_adminhtml>
            <vmegamenu_mysql4>
                <class>Magentothem_Vmegamenu_Model_Mysql4</class>
                <entities>
                    <vmegamenu>
                        <table>vmegamenu</table>
                    </vmegamenu>
                </entities>
            </vmegamenu_mysql4>
        </models>
        <resources>
            <vmegamenu_setup>
                <setup>
                    <module>Magentothem_Vmegamenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vmegamenu_setup>
            <vmegamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vmegamenu_write>
            <vmegamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vmegamenu_read>
        </resources>
        <blocks>
            <vmegamenu>
                <class>Magentothem_Vmegamenu_Block</class>
            </vmegamenu>
        </blocks>
        <helpers>
            <vmegamenu>
                <class>Magentothem_Vmegamenu_Helper</class>
            </vmegamenu>
        </helpers>
    </global>
    <default>
        <vmegamenu>
            <general>
                <enabled>1</enabled>
                <title>categories</title>
				<item_show>7</item_show>
                <showhome>0</showhome>
                <leftmenu>1</leftmenu>
                <rightmenu>0</rightmenu>
                <max_level>4</max_level>
            </general>
            <columns>
                <count>2</count>
                <integrate>1</integrate>
            </columns>
            <popup>
                <effect>2</effect>
            </popup>
        </vmegamenu>
    </default>
</config>