<config>
    <modules>
        <App_Api>
            <version>0.1.0</version>
        </App_Api>
    </modules>
    <frontend>
        <routers>
            <api>
                <use>standard</use>
                <args>
                    <module>App_Api</module>
                    <frontName>app_api</frontName>
                </args>
            </api>
            <customer>
                <args>
                    <modules>
                        <App_Api before="Mage_Customer">App_Api</App_Api>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
    <global>
        <models>
            <api>
                <class>App_Api_Model</class>
                <resourceModel>Api_Mysql4</resourceModel>
            </api>
            <Api_Mysql4>
                <class>App_Api_Model_Resource_Mysql4</class>
                <entities>
                    <api></api>
                </entities>
            </Api_Mysql4>
        </models>
        <resources>
            <customerattribute_setup>
                <setup>
                    <module>App_Api</module>
                    <class>App_Api_Model_Entity_Setup</class>
                </setup>
            </customerattribute_setup>
        </resources>
        <blocks>
            <customer>
                <rewrite>
                    <account_dashboard_hello>App_Api_Block_Account_Dashboard_Hello</account_dashboard_hello>
                    <account_dashboard_info>App_Api_Block_Account_Dashboard_Info</account_dashboard_info>
                </rewrite>
            </customer>
        </blocks>
    </global>
</config>