<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Catlist>
            <version>0.1.0</version>
        </Magentothem_Catlist>
    </modules>
    <frontend>
        <routers>
            <catlist>
                <use>standard</use>
                <args>
                    <module>Magentothem_Catlist</module>
                    <frontName>catlist</frontName>
                </args>
            </catlist>
        </routers>
        <layout>
            <updates>
                <catlist>
                    <file>catlist.xml</file>
                </catlist>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<catlist>
				<use>admin</use>
				<args>
					<module>Magentothem_Catlist</module>
					<frontName>catlist</frontName>
				</args>
			</catlist>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="catlist">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<catlist translate="title" module="catlist">
						<title>Category List</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/catlist</action>
							</configuration>
						</children>
					</catlist>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Catlist>
							<title>Catlist Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Catlist>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<catlist>
					<file>catlist.xml</file>
				</catlist>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <catlist>
                <class>Magentothem_Catlist_Model</class>
                <resourceModel>catlist_mysql4</resourceModel>
            </catlist>
            <catlist_mysql4>
                <class>Magentothem_Catlist_Model_Mysql4</class>
                <entities>
                    <catlist>
                        <table>catlist</table>
                    </catlist>
                </entities>
            </catlist_mysql4>
        </models>
        <resources>
            <catlist_setup>
                <setup>
                    <module>Magentothem_Catlist</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </catlist_setup>
            <catlist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </catlist_write>
            <catlist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </catlist_read>
        </resources>
        <blocks>
            <catlist>
                <class>Magentothem_Catlist_Block</class>
            </catlist>
        </blocks>
        <helpers>
            <catlist>
                <class>Magentothem_Catlist_Helper</class>
            </catlist>
        </helpers>
    </global>
	<default>
		<catlist>
			<list_config>
                <enabled>1</enabled>
				<title>CATEGORY LIST</title>
				<!-- <sort_name>asc</sort_name> -->
                <number_items>5</number_items>
				<item_width>100</item_width>
				<width_thumbnail>140</width_thumbnail>
                <height_thumbnail>160</height_thumbnail>
				<!-- <background_color>#BDBDBD</background_color> -->
			</list_config>
		</catlist>
	</default>
</config>