<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Bestsellerproductslider>
            <version>1.7.0.0</version>
        </Magentothem_Bestsellerproductslider>
    </modules>
    <frontend>
        <routers>
            <bestsellerproductslider>
                <use>standard</use>
                <args>
                    <module>Magentothem_Bestsellerproductslider</module>
                    <frontName>bestsellerproductslider</frontName>
                </args>
            </bestsellerproductslider>
        </routers>
        <layout>
            <updates>
                <bestsellerproductslider>
                    <file>bestsellerproductslider.xml</file>
                </bestsellerproductslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bestsellerproductslider>
				<use>admin</use>
				<args>
					<module>Magentothem_Bestsellerproductslider</module>
					<frontName>bestsellerproductslider</frontName>
				</args>
			</bestsellerproductslider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="bestsellerproductslider">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<bestsellerproductslider translate="title" module="bestsellerproductslider">
						<title>Bestseller Products Slider</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/bestsellerproductslider</action>
							</configuration>
						</children>
					</bestsellerproductslider>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Bestsellerproductslider>
							<title>Bestsellerproductslider Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Bestsellerproductslider>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bestsellerproductslider>
					<file>bestsellerproductslider.xml</file>
				</bestsellerproductslider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bestsellerproductslider>
                <class>Magentothem_Bestsellerproductslider_Model</class>
                <resourceModel>bestsellerproductslider_resource</resourceModel>
            </bestsellerproductslider>
            <bestsellerproductslider_resource>
                <class>Magentothem_Bestsellerproductslider_Model_Resource</class>
            </bestsellerproductslider_resource>
        </models>
        <resources>
            <bestsellerproductslider_setup>
                <setup>
                    <module>Magentothem_Bestsellerproductslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bestsellerproductslider_setup>
            <bestsellerproductslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bestsellerproductslider_write>
            <bestsellerproductslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bestsellerproductslider_read>
        </resources>
        <blocks>
            <bestsellerproductslider>
                <class>Magentothem_Bestsellerproductslider_Block</class>
            </bestsellerproductslider>
        </blocks>
        <helpers>
            <bestsellerproductslider>
                <class>Magentothem_Bestsellerproductslider_Helper</class>
            </bestsellerproductslider>
        </helpers>
    </global>
	<default>
		<bestsellerproductslider>
			<bestsellerproductslider_config>
				<enabled>1</enabled>
				<title>Bestseller Products</title>
				<auto>0</auto>
				<speed>3000</speed>
				<show_price>1</show_price>
				<addtocart>1</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<review>0</review>
				<description>0</description>
				<maxlength></maxlength>
				<qty>15</qty>
				<itemsDefault>2</itemsDefault>
				<itemsDesktop>2</itemsDesktop>
				<itemsDesktopSmall>2</itemsDesktopSmall>
				<itemsTablet>3</itemsTablet>
				<itemsMobile>1</itemsMobile>
				<row_show>1</row_show>
				<width_thumbnail>120</width_thumbnail>
				<height_thumbnail>127</height_thumbnail>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</bestsellerproductslider_config>
		</bestsellerproductslider>
	</default>
</config>