<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Mostviewedproductslider>
            <version>1.7.0.0</version>
        </Magentothem_Mostviewedproductslider>
    </modules>
    <frontend>
        <routers>
            <mostviewedproductslider>
                <use>standard</use>
                <args>
                    <module>Magentothem_Mostviewedproductslider</module>
                    <frontName>mostviewedproductslider</frontName>
                </args>
            </mostviewedproductslider>
        </routers>
        <layout>
            <updates>
                <mostviewedproductslider>
                    <file>mostviewedproductslider.xml</file>
                </mostviewedproductslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mostviewedproductslider>
				<use>admin</use>
				<args>
					<module>Magentothem_Mostviewedproductslider</module>
					<frontName>mostviewedproductslider</frontName>
				</args>
			</mostviewedproductslider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="mostviewedproductslider">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<mostviewedproductslider translate="title" module="mostviewedproductslider">
						<title>Mostviewed Products Slider</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/mostviewedproductslider</action>
							</configuration>
						</children>
					</mostviewedproductslider>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Mostviewedproductslider>
							<title>Mostviewedproductslider Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Mostviewedproductslider>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<mostviewedproductslider>
					<file>mostviewedproductslider.xml</file>
				</mostviewedproductslider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mostviewedproductslider>
                <class>Magentothem_Mostviewedproductslider_Model</class>
                <resourceModel>mostviewedproductslider_mysql4</resourceModel>
            </mostviewedproductslider>
            <mostviewedproductslider_mysql4>
                <class>Magentothem_Mostviewedproductslider_Model_Mysql4</class>
                <entities>
                    <mostviewedproductslider>
                        <table>mostviewedproductslider</table>
                    </mostviewedproductslider>
                </entities>
            </mostviewedproductslider_mysql4>
        </models>
        <resources>
            <mostviewedproductslider_setup>
                <setup>
                    <module>Magentothem_Mostviewedproductslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mostviewedproductslider_setup>
            <mostviewedproductslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mostviewedproductslider_write>
            <mostviewedproductslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mostviewedproductslider_read>
        </resources>
        <blocks>
            <mostviewedproductslider>
                <class>Magentothem_Mostviewedproductslider_Block</class>
            </mostviewedproductslider>
        </blocks>
        <helpers>
            <mostviewedproductslider>
                <class>Magentothem_Mostviewedproductslider_Helper</class>
            </mostviewedproductslider>
        </helpers>
    </global>
	<default>
		<mostviewedproductslider>
			<mostviewedproductslider_config>
				<enabled>1</enabled>
				<title>Popular Product</title>
				<auto>0</auto>
				<speed>3000</speed>
				<show_price>1</show_price>
				<addtocart>1</addtocart>
				<addtowishlist>0</addtowishlist>
				<addtocompare>0</addtocompare>
				<review>0</review>
				<description>0</description>
				<maxlength></maxlength>
				<qty>15</qty>
				<itemsDefault>6</itemsDefault>
				<itemsDesktop>5</itemsDesktop>
				<itemsDesktopSmall>3</itemsDesktopSmall>
				<itemsTablet>2</itemsTablet>
				<itemsMobile>1</itemsMobile>
				<row_show>1</row_show>
				<width_thumbnail>200</width_thumbnail>
				<height_thumbnail>200</height_thumbnail>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</mostviewedproductslider_config>
		</mostviewedproductslider>
	</default>
</config>