<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_SearchByCaterory>
            <version>0.1.0</version>
        </Magentothem_SearchByCaterory>
    </modules>
    <frontend>
        <routers>
            <searchbycaterory>
                <use>standard</use>
                <args>
                    <module>Magentothem_Searchbycaterory</module>
                    <frontName>searchbycaterory</frontName>
                </args>
            </searchbycaterory>
        </routers>
        <layout>
            <updates>
                <searchbycaterory>
                    <file>searchbycaterory.xml</file>
                </searchbycaterory>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <searchbycaterory>
                <use>admin</use>
                <args>
                    <module>Magentothem_Searchbycaterory</module>
                    <frontName>searchbycaterory</frontName>
                </args>
            </searchbycaterory>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magentothem module="searchbycaterory">
                <title>Magentothem</title>
                <sort_order>80</sort_order>               
                <children>
                    <searchbycaterory translate="title" module="searchbycaterory">
                        <title>Search By Caterory</title>
                        <sort_order>0</sort_order>
                        <children>
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/searchbycaterory</action>
                            </configuration>
                        </children>
                    </searchbycaterory>
                </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Magentothem_Searchbycaterory>
                            <title>Searchbycaterory Module</title>
                            <sort_order>10</sort_order>
                        </Magentothem_Searchbycaterory>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <searchbycaterory>
                    <file>searchbycaterory.xml</file>
                </searchbycaterory>
            </updates>
        </layout>
    </adminhtml>   
    <global>
<!--        <models>
            <searchbycaterory>
                <class>Magentothem_Searchbycaterory_Model</class>
                <resourceModel>searchbycaterory_mysql4</resourceModel>
            </searchbycaterory>
            <searchbycaterory_adminhtml>
                <class>Magentothem_Searchbycaterory_Adminhtml_Model</class>
            </searchbycaterory_adminhtml>
            <searchbycaterory_mysql4>
                <class>Magentothem_Searchbycaterory_Model_Mysql4</class>
                <entities>
                    <searchbycaterory>
                        <table>searchbycaterory</table>
                    </searchbycaterory>
                </entities>
            </searchbycaterory_mysql4>
        </models>-->
<!--        <resources>
            <searchbycaterory_setup>
                <setup>
                    <module>Magentothem_Searchbycaterory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </searchbycaterory_setup>
            <searchbycaterory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </searchbycaterory_write>
            <searchbycaterory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </searchbycaterory_read>
        </resources>-->
        <blocks>
            <searchbycaterory>
                <class>Magentothem_Searchbycaterory_Block</class>
            </searchbycaterory>
        </blocks>
        <helpers>
            <searchbycaterory>
                <class>Magentothem_Searchbycaterory_Helper</class>
            </searchbycaterory>
        </helpers>
    </global>
    <default>
        <searchbycaterory>
            <settings>
                <enabled>1</enabled>
                <select_category_on_category_pages>1</select_category_on_category_pages>
                <show_subcategories>1</show_subcategories>
                <subcategories_level>0</subcategories_level>
                <indentation_text><![CDATA[_]]></indentation_text>
            </settings>
        </searchbycaterory>
    </default>
</config>