<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Featuredproductslider>
            <version>1.7.0.0</version>
        </Magentothem_Featuredproductslider>
    </modules>
    <frontend>
        <routers>
            <featuredproductslider>
                <use>standard</use>
                <args>
                    <module>Magentothem_Featuredproductslider</module>
                    <frontName>featuredproductslider</frontName>
                </args>
            </featuredproductslider>
        </routers>
        <layout>
            <updates>
                <featuredproductslider>
                    <file>featuredproductslider.xml</file>
                </featuredproductslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<featuredproductslider>
				<use>admin</use>
				<args>
					<module>Magentothem_Featuredproductslider</module>
					<frontName>featuredproductslider</frontName>
				</args>
			</featuredproductslider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="featuredproductslider">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<featuredproductslider translate="title" module="featuredproductslider">
						<title>Featured Products Slider</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/featuredproductslider</action>
							</configuration>
						</children>
					</featuredproductslider>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Featuredproductslider>
							<title>Featuredproductslider Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Featuredproductslider>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<featuredproductslider>
					<file>featuredproductslider.xml</file>
				</featuredproductslider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <featuredproductslider>
                <class>Magentothem_Featuredproductslider_Model</class>
                <resourceModel>featuredproductslider_mysql4</resourceModel>
            </featuredproductslider>
            <featuredproductslider_mysql4>
                <class>Magentothem_Featuredproductslider_Model_Mysql4</class>
                <entities>
                    <featuredproductslider>
                        <table>featuredproductslider</table>
                    </featuredproductslider>
                </entities>
            </featuredproductslider_mysql4>
        </models>
        <resources>
            <featuredproductslider_setup>
                <setup>
                    <module>Magentothem_Featuredproductslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredproductslider_setup>
            <featuredproductslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredproductslider_write>
            <featuredproductslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredproductslider_read>
        </resources>
        <blocks>
            <featuredproductslider>
                <class>Magentothem_Featuredproductslider_Block</class>
            </featuredproductslider>
        </blocks>
        <helpers>
            <featuredproductslider>
                <class>Magentothem_Featuredproductslider_Helper</class>
            </featuredproductslider>
        </helpers>
    </global>
	<default>
		<featuredproductslider>
			<featuredproductslider_config>
				<enabled>1</enabled>
				<title>Featured Products</title>
				<auto>0</auto>
				<speed>3000</speed>
				<show_price>1</show_price>
				<addtocart>1</addtocart>
				<addtowishlist>1</addtowishlist>
				<addtocompare>1</addtocompare>
				<review>1</review>
				<description>0</description>
				<maxlength></maxlength>
				<qty>15</qty>
				<itemsDefault>4</itemsDefault>
				<itemsDesktop>4</itemsDesktop>
				<itemsDesktopSmall>3</itemsDesktopSmall>
				<itemsTablet>2</itemsTablet>
				<itemsMobile>1</itemsMobile>
				<row_show>1</row_show>
				<width_thumbnail>270</width_thumbnail>
				<height_thumbnail>283</height_thumbnail>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</featuredproductslider_config>
		</featuredproductslider>
	</default>
</config>