<config>
    <modules>
        <App_Api2>
            <version>0.1.0</version>
            <codePool>local</codePool>
        </App_Api2>
    </modules>
    <frontend>
        <routers>
            <api2>
                <use>standard</use>
                <args>
                    <module>App_Api2</module>
                    <frontName>api2</frontName>
                </args>
            </api2>
        </routers>
    </frontend>
    <global>
        <fieldsets>
            <customer_account>
                <mobile><create>1</create><update>1</update></mobile>
            </customer_account>
        </fieldsets>
        <models>
            <api2>
                <class>App_Api2_Model</class>
                <resourceModel>Api2_Mysql4</resourceModel>
            </api2>
            <Api2_Mysql4>
                <class>App_Api2_Model_Resource_Mysql4</class>
                <entities>
                    <blogpost>
                        <table></table>
                    </blogpost>

                </entities>
            </Api2_Mysql4>
        </models>
        <resources>
            <appapi2_setup>
                <setup>
                    <module>App_Api2</module>
                    <class>App_Api2_Model_Entity_Setup</class>
                </setup>
            </appapi2_setup>
        </resources>
    </global>
</config>